@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'ostrich';
	src: url(fonts/ostrich-sans-regular.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'main';
	src: url(fonts/pacifico.ttf);
	font-weight: 400;
	font-style: normal;
}
body {
	background:#4D4D4D;
	color: white;
}
#maindiv {
	
	border:40px solid transparent;
	padding: 5 px;
	border-image: url(Bilder/Border1.png) 500 round;
	margin:auto; 
}
.header {
  font-family: 'ostrich', sarif-sans;
  font-size:80px;
  font-weight:bold;
}
.paragraph {
	font-family: 'main', sarif-sans;
	font-size:36px;
	letter-spacing: 1px;
	line-height: 150%;
}
.picturetd {
	display:block;
	margin-left:auto;
	margin-right:auto;
	vertical-align:top;
	
}
ul {
	list-style:none;
	overflow:hidden;
	margin:0;
	padding:0;
	background-color: gray;
	width:800px;
}
ul a {
	display: block;
	border-left:1px black;
	border-right:1px black;
	text-align:center;
	color: white;
	font-size: 2em;
	text-decoration: none;
	padding-bottom:15px;
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
	border:1px solid white;
}

ul li:hover {
	background-color:white;
}
ul a:hover {
	color:#4D4D4D;
}
